<div class = "col-sm-8 col-sm-offset-2">
  <% @puppies.each do |puppy| %>
    <div class = "row">
      <p>
      <h2> <%= puppy.name %>: <em><%= puppy.breed %></em></h2>
    </p>
    </div>
    <div class = "row">
      <img src="http://www.thepuppyapi.com/puppy?format=src&breed=<%= puppy.breed %>">
    </div>
    <div class = "row">
      <hr />
    </div>
  <% end %>
</div>
